@charset "utf-8";

body {
  width: 90%;
  margin: auto;
  border: 1px solid;
}
nav ul {
    display: flex;
}
nav li {
  flex: 1 1 45%;
  text-align: center;
}
nav ul {
  list-style: none;
}
nav a {
  text-decoration: none;
}
h1, footer {
  text-align: center;
}
main {
    min-height: 200px;
    text-align: center;
}
main img {
  display: block;
}
footer {
  border-top: 1px solid;
}
